@use "../../stylesheets/packages/uswds-core";
@use "../usa-alert/usa-alert";

// Alert variables ---------- //

usa-alert.$alert-icons: (
  info: "info",
  emergency: "error",
);

@mixin site-alert-margins {
  &:before {
    left: uswds-core.units($theme-site-margins-mobile-width);
    @include uswds-core.at-media($theme-site-margins-breakpoint) {
      left: uswds-core.units($theme-site-margins-width);
    }
  }
}

.usa-site-alert {
  position: relative;
  background-color: uswds-core.color("base-lightest");

  .usa-alert {
    @include uswds-core.u-margin-x("auto");
    @include uswds-core.u-maxw($theme-site-alert-max-width);

    // Don't show the left bar
    border-left: none;

    > .usa-list,
    .usa-alert__body > .usa-list {
      padding-left: 2ch;
    }
  }

  .usa-alert__body {
    @include uswds-core.add-responsive-site-margins;
  }
}

@each $name, $icon in usa-alert.$alert-icons {
  .usa-site-alert--#{$name} {
    $bgcolor: if($name != "emergency", "#{$name}-lighter", $name);
    @include uswds-core.set-text-and-bg($bgcolor);

    .usa-alert {
      @include uswds-core.alert-status-styles($name, $icon);
      @include site-alert-margins;
    }

    .usa-alert__body {
      padding-right: uswds-core.units($theme-site-margins-mobile-width);
      padding-left: uswds-core.units($theme-site-margins-mobile-width) +
        uswds-core.units($theme-alert-icon-size) +
        uswds-core.units(1.5);

      @include uswds-core.at-media($theme-site-margins-breakpoint) {
        padding-right: uswds-core.units($theme-site-margins-width);
        padding-left: uswds-core.units($theme-site-margins-width) +
          uswds-core.units($theme-alert-icon-size) + uswds-core.units(1.5);
      }
    }
  }
}

.usa-site-alert--no-icon {
  .usa-alert {
    &:before {
      display: none;
    }

    .usa-alert__body {
      padding-left: uswds-core.units($theme-site-margins-mobile-width);
      @include uswds-core.at-media($theme-site-margins-breakpoint) {
        padding-left: uswds-core.units($theme-site-margins-width);
      }
    }
  }
}

.usa-site-alert--slim {
  .usa-alert {
    @include usa-alert.add-slim-alert-icon;
    @include uswds-core.u-padding-y(1);
  }
  .usa-alert__body {
    padding-left: uswds-core.units($theme-site-margins-mobile-width) +
      usa-alert.$alert-slim-icon-size + uswds-core.units(1.5);
    @include uswds-core.at-media($theme-site-margins-breakpoint) {
      padding-left: uswds-core.units($theme-site-margins-width) + usa-alert.$alert-slim-icon-size +
        uswds-core.units(1.5);
    }
  }
}
