@use "../../stylesheets/packages/uswds-core";

.usa-skipnav {
  @include uswds-core.border-box-sizing;
  @include uswds-core.typeset;
  @include uswds-core.typeset-link;
  background: transparent;
  left: 0;
  padding: uswds-core.units(1) uswds-core.units(2);
  position: absolute;
  top: -3.8rem; // skipnav link height
  transition: uswds-core.$project-easing;
  z-index: uswds-core.z-index(100);

  &:focus,
  &.usa-focus {
    background: uswds-core.color("white");
    left: 0;
    position: absolute;
    top: 0;
    transition: uswds-core.$project-easing;
  }
}

.usa-skipnav__container {
  position: relative;
}
