@use "../../stylesheets/packages/uswds-core";

// Hero feature
// ==========================

.usa-hero {
  @include uswds-core.border-box-sizing;
  @include uswds-core.typeset;
  @include uswds-core.u-padding-y($theme-site-margins-width);
  background-image: url("#{$theme-hero-image}");
  background-position: center;
  background-size: cover;
  color: uswds-core.color("white");
}

.usa-hero__callout {
  background-color: uswds-core.color("primary-darker");
  padding: uswds-core.units(4);

  @include uswds-core.at-media("tablet") {
    max-width: uswds-core.units("mobile");
  }
}

.usa-hero__heading {
  @include uswds-core.typeset-h2;
  color: uswds-core.color("accent-cool");
  line-height: uswds-core.line-height("heading", 2);
}

.usa-hero__heading--alt {
  color: uswds-core.color("white");
  display: block;
}
