@use "../../stylesheets/packages/uswds-core";

.usa-error-message {
  @include uswds-core.u-padding-y(0.5);
  color: uswds-core.color("error-dark");
  display: block;
  font-weight: uswds-core.font-weight("bold");
}
