@use "../../stylesheets/packages/uswds-core";

$collection-thumb-width: 10;
$collection-thumb-width-mobile: 8;
$collection-thumb-margin: 2;

@include uswds-core.override-prose {
  .usa-collection {
    @include uswds-core.typeset($theme-collection-font-family, "sm", 3);
    @extend %usa-list;
    @include uswds-core.u-padding-left(0);
  }

  .usa-collection__item {
    @extend %usa-list-item;
    @include uswds-core.unstyled-list;
    @include uswds-core.u-align-items("align-start");
    @include uswds-core.u-border-top(1px);
    @include uswds-core.u-display("flex");
    @include uswds-core.u-margin-y(2);
    @include uswds-core.u-padding-top(2);
  }
}

.usa-collection__img,
.usa-collection__calendar-date {
  @include uswds-core.media-block-img;
  width: uswds-core.units($collection-thumb-width-mobile);
  margin-right: uswds-core.units($collection-thumb-margin);

  @include uswds-core.at-media("tablet") {
    width: uswds-core.units($collection-thumb-width);
  }
}

.usa-collection__body {
  @include uswds-core.u-flex(1);
}

.usa-collection__heading {
  @include uswds-core.typeset($theme-collection-header-typeset);
  @include uswds-core.u-margin-bottom(0);
  @include uswds-core.u-margin-top(0);
}

.usa-collection__description {
  @include uswds-core.u-margin-y(1);
}

.usa-collection__meta {
  @include uswds-core.unstyled-list;
  @include uswds-core.u-margin-top(0.5);
}

.usa-collection__meta-item {
  @include uswds-core.u-margin-top(0.5);
  @include uswds-core.typeset("ui", "2xs", 3);
  display: block;
  margin-right: uswds-core.units(1);

  &.usa-tag {
    @include uswds-core.u-bg("base-lighter");
    @include uswds-core.u-line-height("ui", 1);
    @include uswds-core.u-padding-y(0.5);
    @include uswds-core.u-text("ink");
    display: inline-block;
    margin-top: uswds-core.units(0.5);

    &--new {
      @include uswds-core.u-bg("accent-warm-dark");
      @include uswds-core.u-text("white");
    }
  }
}

.usa-collection__calendar-date {
  text-decoration: none;
}

.usa-collection__calendar-date-month,
.usa-collection__calendar-date-day {
  @include uswds-core.u-font("ui", 6);
  display: block;
  font-weight: uswds-core.fw("bold");
  padding: uswds-core.units(0.5);
  text-align: center;

  @include uswds-core.at-media("tablet") {
    padding: uswds-core.units(1);
  }
}

.usa-collection__calendar-date-month {
  @include uswds-core.u-radius-top("sm");
  background-color: uswds-core.color("primary");
  color: uswds-core.color("white");
}

.usa-collection__calendar-date-day {
  @include uswds-core.u-radius-bottom("sm");
  border: 1px solid uswds-core.color("primary");
  color: uswds-core.color("primary");
}

.usa-collection--condensed {
  .usa-collection__item {
    @include uswds-core.u-margin-y(1);
    @include uswds-core.u-padding-top(1);
  }
}
