@use "../../stylesheets/packages/uswds-core";

.usa-dark-background {
  @include uswds-core.add-knockout-font-smoothing;
  background-color: uswds-core.color("base-darker");

  p,
  span {
    color: uswds-core.color($theme-text-reverse-color);
  }

  a {
    color: uswds-core.color($theme-link-reverse-color);

    &:visited {
      color: uswds-core.color($theme-link-reverse-color);
    }

    &:hover {
      color: uswds-core.color($theme-link-reverse-hover-color);
    }
  }
}
