@use "../../stylesheets/packages/uswds-core";

.usa-form-group {
  margin-top: uswds-core.units(3);

  // Let form-group handle top margin
  .usa-label:first-child {
    margin-top: 0;
  }
}

// Block input elements
.usa-form-group--error {
  @include uswds-core.u-border-left(0.5, "error-dark");
  margin-top: uswds-core.units(4);
  padding-left: uswds-core.units(2);
  position: relative;

  @include uswds-core.at-media("desktop") {
    margin-left: uswds-core.units(-2.5);
  }
}
