@use "../../stylesheets/packages/uswds-core";

.usa-select {
  @extend %block-input-general;
  @extend %block-input-styles;
  @include uswds-core.add-background-svg("usa-icons/unfold_more");
  appearance: none;
  background-color: uswds-core.color("white");
  background-position: right uswds-core.units(1) center;
  background-size: uswds-core.units(2.5);
  padding-right: uswds-core.units(4);

  &::-ms-expand {
    display: none;
  }

  // Show default webkit style on select element when autofilled to show icon
  &:-webkit-autofill {
    appearance: menulist;
  }

  // Remove dotted outline from select element on focus in Firefox
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 uswds-core.color("black");
  }
}
