@use "../../stylesheets/packages/uswds-core";

.usa-navbar {
  @include uswds-core.border-box-sizing;
  height: uswds-core.units(uswds-core.$size-touch-target);

  @include uswds-core.at-media-max($theme-header-min-width) {
    @include uswds-core.u-flex("align-center");
    border-bottom: uswds-core.units(1px) solid uswds-core.color("base-lighter");
    display: flex;
  }

  @include uswds-core.at-media($theme-header-min-width) {
    border-bottom: none;
    display: inline-block;
    height: auto;
  }
}
