@use "../../packages/uswds-core";

/*
========================================
background-color
----------------------------------------
usage:
  .border-[color]
----------------------------------------
output:
  border[-color]: [color];
----------------------------------------
example:
  .border-red {
    border-color: #be4900; }
----------------------------------------
*/

$u-border-color: (
  border-color: (
    property: "border-color",
    base: "border",
    modifiers: null,
    values:
      uswds-core.map-collect(
        uswds-core.$tokens-color-global,
        uswds-core.get-palettes($border-color-palettes),
        uswds-core.get-palettes($global-color-palettes),
        $border-color-manual-values
      ),
    settings: $border-color-settings,
    type: "utility",
  ),
);
