@use "../../packages/uswds-core";

/*
========================================
color
----------------------------------------
usage:
  .color-[key]
----------------------------------------
output:
  color: [value];
----------------------------------------
example:
  .color-black-100 {
    color: #000; }
----------------------------------------
*/

$u-color: (
  color: (
    base: "text",
    modifiers: null,
    values:
      uswds-core.map-collect(
        uswds-core.$tokens-color-global,
        uswds-core.get-palettes($color-palettes),
        uswds-core.get-palettes($global-color-palettes),
        $color-manual-values
      ),
    settings: $color-settings,
    property: "color",
    type: "utility",
  ),
);
