@use "../../packages/uswds-core";

/*
========================================
float
----------------------------------------
usage:
  .float-[value]
----------------------------------------
output:
  float: [value];
----------------------------------------
example:
  .float-left {
    float: left; }
----------------------------------------
*/

$u-float: (
  float: (
    base: "float",
    modifiers: null,
    values: uswds-core.map-collect(uswds-core.get-palettes($float-palettes), $float-manual-values),
    settings: $float-settings,
    property: "float",
    type: "utility",
  ),
);
