@use "../../packages/uswds-core";

/*
========================================
.left
----------------------------------------
property: left
----------------------------------------
usage:
  .left-[key]
----------------------------------------
output:
  left: [value];
----------------------------------------
example:
  .left-n2px {
    left: -2px; }
----------------------------------------
*/

$u-left: (
  left: (
    base: "left",
    modifiers: null,
    values: uswds-core.map-collect(uswds-core.get-palettes($left-palettes), $left-manual-values),
    settings: $left-settings,
    property: "left",
    type: "utility",
  ),
);
