@use "../../stylesheets/packages/uswds-core";

.usa-tag {
  @include uswds-core.border-box-sizing;
  @include uswds-core.u-font("ui", "2xs");
  @include uswds-core.u-text("white", "uppercase");
  background-color: uswds-core.color("base-dark");
  border-radius: uswds-core.radius("sm");
  margin-right: uswds-core.units(0.5);
  padding: uswds-core.units(1px) uswds-core.units(1);

  &:only-of-type {
    margin-right: 0;
  }
}

.usa-tag--big {
  @include uswds-core.u-padding-x(1);
  @include uswds-core.u-font("ui", $theme-body-font-size);
}
