@use "../../stylesheets/packages/uswds-core";

.usa-legend {
  @include uswds-core.typeset(
    $theme-form-font-family,
    $theme-body-font-size,
    $theme-input-line-height
  );
  display: block;
  font-weight: uswds-core.font-weight("normal");
  margin-top: uswds-core.units(3);
  max-width: uswds-core.units($theme-input-max-width);
}

.usa-legend--large {
  font-size: uswds-core.font-size($theme-form-font-family, "xl");
  font-weight: uswds-core.font-weight("bold");
  margin-top: uswds-core.units(2);
}
