@use "../packages/uswds-core";

html {
  @include uswds-core.add-kerning;
  font-family: uswds-core.font-family($theme-body-font-family);
  font-size: uswds-core.$root-font-size;
}

@if $theme-style-body-element {
  body {
    @include uswds-core.typeset;
  }
}

@if $theme-global-paragraph-styles == true {
  @include uswds-core.usa-paragraph-style;
}

@if $theme-global-link-styles == true {
  @include uswds-core.usa-link-style;
}

@if $theme-global-content-styles == true {
  @include uswds-core.usa-content-styles;
}

// Remove user agent styles

cite,
var,
address,
dfn {
  font-style: normal;
}
