@use "../../stylesheets/packages/uswds-core";

@include uswds-core.override-prose {
  .usa-input-list {
    @include uswds-core.add-list-reset;

    li {
      line-height: uswds-core.line-height(
        $theme-form-font-family,
        $theme-input-line-height
      );
    }
  }
}

.usa-radio__input {
  // The actual input element is only visible to screen readers, because
  // all visual styling is done via the label.
  @include uswds-core.sr-only();

  &:focus {
    @include uswds-core.format-input {
      @include uswds-core.focus-outline(null, null, null, 0.5);
    }
  }

  &:disabled {
    @include uswds-core.format-input {
      cursor: not-allowed;
    }
    @include uswds-core.format-label {
      cursor: not-allowed;
    }
  }

  // Checkboxes and radios with tap-friendly targets
  &--tile {
    @include uswds-core.format-label {
      border-radius: uswds-core.radius($theme-input-tile-border-radius);
      margin-top: uswds-core.units(1);
      padding: uswds-core.units(1.5) uswds-core.units(2) uswds-core.units(1.5) uswds-core.units(5);

      &:before {
        left: uswds-core.units(5) - uswds-core.units($input-select-margin-right) -
          uswds-core.units($theme-input-select-size);
      }
    }
  }

  &:checked {
    @include uswds-core.format-input {
      @media print {
        box-shadow: inset 0 0 0 uswds-core.units($theme-input-select-border-width)
            uswds-core.color("white"),
          inset 0 0 0 uswds-core.units(2) uswds-core.color("primary"),
          0 0 0 uswds-core.units($theme-input-select-border-width) uswds-core.color("primary");
      }
    }
  }
}

.usa-radio__label {
  @extend %block-input-general;
  cursor: pointer;
  display: inherit;
  font-weight: uswds-core.font-weight("normal");
  margin-top: uswds-core.units(1.5);
  padding-left: uswds-core.units($input-select-margin-right) +
    uswds-core.units($theme-input-select-size);
  position: relative;

  &:before {
    content: " ";
    display: block;
    left: 0;
    margin-left: uswds-core.units($theme-input-select-border-width);
    margin-top: (
        uswds-core.line-height($theme-form-font-family, $theme-input-line-height) *
          uswds-core.font-size($theme-form-font-family, $theme-body-font-size) -
          uswds-core.units($theme-input-select-size)
      ) / 2;
    position: absolute;
  }
}

.usa-radio__label::before {
  @include uswds-core.u-circle($theme-input-select-size);
}

.usa-radio__label-description {
  display: block;
  font-size: uswds-core.size("ui", "2xs");
  margin-top: uswds-core.units(1);
}
