@use "../../stylesheets/packages/uswds-core";

.usa-content {
  p,
  ul:not(.usa-accordion):not(.usa-accordion--bordered),
  ol:not(.usa-accordion):not(.usa-accordion--bordered) {
    max-width: uswds-core.measure($theme-text-measure);
  }
}

%usa-heading {
  @include uswds-core.typeset-heading;
}
